/* flex.css */
.wrap1 {
    background-color: lightgray;
    display: flex;
     /*flex-direction:row;*/ /*container 작성하는 메인축정렬방법 */
    /* flex-wrap:wrap-reverse;*/ /*container의 item 줄바꿈*/
    flex-flow: column wrap; /* 방향과 줄바꿈 한번에 작성하는 속성 */
    justify-content:center;
    height: 600px;
} 
.wrap1 li {
    width: 100px; height: 100px; font-size: 3rem;
}
.wrap1 li:nth-child(odd){background-color: aqua;}
.wrap1 li:nth-child(even){background-color: yellow;}
/* .wrap1 li:nth-child(3){background-color: coral;}
.wrap1 li:nth-child(4){background-color: lime;} */
/* ================================================4/29 flex 2일차 연습 */
.wrap2 {
    background-color: #eee;
    width: 90%; margin: 30px auto 0; padding: 20px; height: 600px;
    display: flex; /* 방향, 줄바꿈 기본값 row, nowrap */
    flex-flow: row nowrap; /* 한줄로 바꾸려면 nowrap으로 만들기 */
    /* 교차축 2줄 이상일때 정렬방법 (flex-wrap:warp 기준) */
    /* align-content: flex-end; */
    /* 교차축 2줄 이상일때 정렬방법 (flex-wrap:warp 기준) */
    align-items: center;
}
.wrap2 li { 
    flex:1;
    /* width: 150px; */ height: 150px; color: #fff; font-size: 5rem;}
.wrap2 li:nth-child(odd) {background: purple;}
.wrap2 li:nth-child(even) {background-color: pink;}
.wrap2 li:nth-child(1) {order: 5;}
.wrap2 li:nth-child(2) {order: 4;}
.wrap2 li:nth-child(3) {order:6;}
.wrap2 li:nth-child(4) {order: -1;}
.wrap2 li:nth-child(5) {order: 3;}
.wrap2 li:nth-child(6) {order: 0;}
.wrap2 li:nth-child(7) {order:1; align-self:flex-end;}
.wrap2 li:nth-child(8) {order: 2;}
