#wrap {
    background-color: #8174A0;
    /* padding-left: 15px;
    padding-right: 15px; */
    padding:0 15px;
    width:440px; height:956px; 
    text-align:left;
}
#wrap h1 {
    /* padding-top:148px; */
    padding:148px 0 0 0;
    /* margin-bottom: 15px; */
    margin:0 0 15px 0;
    font-size: 2.5rem; /* 40px 이다 */
    font-weight: 700; /* bold  이다 */
    color:#F5F7FA;
}
#wrap > p {} /* #wrap 모든 자식 p ->wlecombaack!~ , don't have on~ 부분이다 */
#wrap h1+p {
    /* margin-bottom: 121px; */
    margin:0 0 121px 0;
    font-size: 1rem;
    color: #F5F7FA;
}
#wrap #login_frm {
} /* #wrap의 h1 옆에 p */
#wrap #login_frm h2 {
    color:#17153B;
    font-weight: 600;
    font-size: 1.375rem; /* 22px 이다 */
    /* margin-bottom: 15px; */
    margin:0 0 15px 0;
}
#wrap #login_frm p {


}
#wrap #login_frm p.user_in {
    /* margin-bottom: 40px; */
    margin:0 0 40px 0;
}
#wrap #login_frm p.user_btn {
    /* margin-bottom: 15px; */
    margin:0 0 15px 0;
}
#wrap #login_frm p input::placeholder { /* "속성 쓰는 방법" placeholder 선택자 작성법*/
    font-size: 0.875rem;
    font-weight: 300;
    color: #F5F7FA;
}  
#wrap #login_frm p input {
    width: 410px;
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px; */
    padding:15px 20px 15px 20px;
    border:1px solid #2E236C;
    color: #17153B;
    background-color: #8174A0;
    border-radius: 10px;
}

#wrap #login_frm p #login_btn {
    background-color: #F5F7FA;
    color: #17153B;
    width: 410px; 
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px; */
    padding:15px 20px 15px 20px;
    border-radius: 10px;
    font-weight: 600; font-size: 0.87rem; 
}
#wrap #login_frm p .login_google {
    background-color: #C8ACD6;
    color: #17153B;
    width: 410px; 
    /* padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px; */
    padding:15px 20px 15px 20px;
    border-radius: 10px;
    text-align: center;
    display: block; /* 인라인 */
    font-weight: 600; font-size: 0.87rem; 
    /* margin-bottom: 94px; */
    margin:0 0 94px 0;
}
#wrap #login_frm+p {
    font-size:0.75rem;
    letter-spacing:0;
    font-weight:300;
    text-align:center;
} /* #wrapdml login_frm 옆에 p */
#wrap #login_frm+p a {
    color: #17153B;
    font-weight: 600;
}