body {background-color:#ffffff;}
#weather {background-color: rgb(251, 247, 204);}
#weather h1 {color: rgb(0, 0, 0);}}}
#weather .area {color: rgb(0, 0, 0);}
#weather .temperature {color: rgb(255, 52, 52);} 
#weather p {color:rgb(0, 0, 0);}
#weather .sub_title {background-color: burlywood;}
#weather .humidity {color:rgb(0, 98, 255);}
#weather .dust {color: rgb(0, 0, 0);}
.result {color: black;}
#news {background-color: rgb(255, 233, 166);}
#news > a {color: rgb(2, 136, 67);}
#news .box {color:rgb(255, 255, 255);}
#news .box a {color: rgb(255, 255, 255);}
#news .box a h2 {color:rgb(2, 136, 67) ;}
#news .box a p {background-color: rgb(128, 113, 81);}
#news p {background-color: #ffdcdc;}
#news p span {color: #ff678a;}